name: Run Simulator

on:
  schedule:
    - cron: "*/1 * * * *"  # every 1 minute
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Install Redis Client
        run: dotnet add simulation-engine/src package StackExchange.Redis

      - name: Set Environment
        run: |
          echo "UPSTASH_REDIS_URL=${{ secrets.UPSTASH_REDIS_URL }}" >> $GITHUB_ENV
          echo "UPSTASH_REDIS_PASSWORD=${{ secrets.UPSTASH_REDIS_PASSWORD }}" >> $GITHUB_ENV

      - name: Run Simulator
        run: dotnet run --project simulation-engine/src