name: Run C# Simulator

on:

  push: # When code it pushed to the main or the simulation-engine/** path
    branches: 
      - main
    paths:
      - simulation-engine/**

  schedule:
    - cron: "0 */6 * * *"   # My Cron runs every 6 hours, starting a new C# Simulator  
  workflow_dispatch:

concurrency:
  group: simulator
  cancel-in-progress: true   # cancel old C# simulator when new one starts. Each of My C# simulator runs in an infinite loop
                # Github allows  Public repos → 6 hours max execution and Private repos (Free) → 2 hours.   
jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 244  # 4 hours 4 minutes (less than GitHub 6h limit). 
      # Due to GitHub Actions 6 hour hard time limit, I am stopping each job at 4 hours and 4 minutes.
      # GitHub won't have to kill my running job at its 6 hour limit b/c they time out at 2 hours.
      # For the next 4 hours No Simulator will run, b/c a new simulator starts running every 6 hours.
      # Plus I am cancelling old C# simulators when a new one starts

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Install Redis Client
        run: dotnet add simulation-engine/src package StackExchange.Redis

      - name: Set Environment
        run: |
          echo "UPSTASH_REDIS_URL=${{ secrets.UPSTASH_REDIS_REST_URL }}" >> $GITHUB_ENV
          echo "UPSTASH_REDIS_PASSWORD=${{ secrets.UPSTASH_REDIS_REST_TOKEN }}" >> $GITHUB_ENV

      - name: Run Simulator
        run: dotnet run --project simulation-engine/src